<footer>
    <div class="footer-layout">
        <div class="footer-content">
            <img th:src="@{/images/admin/main/cupangMS_logo(color).png}" alt="로고">
            <div class="about-company">
                <h2>(주)큐팡</h2>
                <h2>대표이사 이름(db)</h2>
                <h2>|</h2>
                <h2>사업자등록번호</h2>
                <h2>123-132-1231232(db)</h2>
                <h2>|</h2>
                <h2>통신판매업신고</h2>
                <h2>2023-부산 해운대구-1232(db)</h2>
                <h2>|</h2>
                <h2>부산광역시 부산진구 중앙동(db)</h2>
                <h2>(삼성동, green빌딩) 7층(db)</h2>
            </div>
            <div class="about-company">
                <h2>고객센터</h2>
                <h2>|</h2>
                <h2>02-1234-1231</h2>
                <h2>평일 09:00 ~ 18:00(db)</h2>

                <h2>이메일</h2>
                <h2>abc@cupang(db)</h2>

                <h2>전자금융거래 분쟁담당</h2>
                <h2>12321-12321(db)</h2>
            </div>
            <h2>Copyright@cupang.All.rights.reserved (db)</h2>
        </div>

    </div>

</footer>

</body>
</html>