
.board {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: stretch;
  gap: 30px;
}
.board h2{
    margin: 0;
}

/*///////////////헤더 푸터 삽입 시 공백 제거///////////////////*/
html, body {
    margin: 0;
    padding: 0;
}

/*////////////////////// header영역 //////////////////////*/



.header-layout{
    height: 60px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    background-color: #325a83;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}

.header-content{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.header-content img{
  width: 200px;
  display: block;
}

.header-link{
    display: flex;
    gap: 25px;
    vertical-align: middle;
    align-items: center;
}

.header-link a,
.header-link button{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 10px;
}

.header-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    
}
.header-link button{
  border: none;
  outline: none;
  background-color: #91a9ce;
  padding: 5px 15px 5px 15px;
  cursor: pointer;

  
}
/*////////////////////// footer영역 //////////////////////*/
.footer-layout{
    height: 110px;
    margin: 0 auto;
    width: 100%;
    background-color: #325a83;
}


.footer-content{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    text-align: center;
    gap: 2px;
}
.footer-content img{
  width: 150px;
  display: block;
  margin: 0 auto;
}
.about-company{
    display: flex;
    justify-content: center;
}
.footer-content h2{
    font-size: 12px;
    color: #333;
    font-weight: 400;
    margin: 0 2px;
}
.footer-content a{
    color: black;
    font-size: 13px;
}

/* //////////////////// TOP 버튼 시작 //////////////////// */
.top-btn {
    position: fixed;
    bottom: 40px;

    /* 화면 가운데 기준으로 1200px 컨테이너 + 버튼 간격 계산 */
    left: calc(50% + 600px + 20px);
    /* 50% = 화면 가운데 / 600px = 컨테이너 절반 / +20px = 간격 */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--blue);
    color: #fff;
    background-color: #2454d1;
    font-size: 20px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    z-index: 999;
    transition: opacity 0.3s ease;
}

/* 뒷 배경이 흰색이라 고정
.top-btn:hover {
    background: #2454d1; 
}

.top-btn.hidden {
    opacity: 0;
    pointer-events: none;
}
*/

/*///////////////////사이드 바///////////////////*/
.sidebar {
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: #e0e0e0;
    
}

.sidebar a {
    text-decoration: none;
}


.side-item {
    border-bottom: 1px solid #ccc;
}
.main-menu a {
    display: flex;
    align-items: center; 
    color: black;
    font-size: 15px;
}

.main-menu{
    display: flex;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.sub-menu{
    display: flex;
    flex-direction: column;
    gap: 6px;
    display: none;
}

.sub-menu.active {
  display: flex;
}
.sub-menu a{
    color: black;
    font-size: 14px;
}

.sub-menu ul,
.sub-menu li {
    margin: 0;
    list-style-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10"  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/></svg>');
}

.main-menu svg{
    width: 17px;
    height: 17px; 
    margin-right: 10px;
}

.side-item .main-menu:hover{
    background-color: #ccc;
}

.side-item.active .main-menu {
    background-color: #666;
}

.side-item.active .main-menu a {
    color: white;
    font-weight: 500;
}

.sub-menu a.active {
    font-weight: bold;
}



/*////////////본문 css///////////*/
.content {
  display: flex;
  flex-direction: column;
  width: 970px;
  gap: 30px;
  margin-bottom: 120px; /*푸터랑 간격 띄우기(footer에다 margin-top주면 사이드바 안늘어남*/
}
.boardUpper {
  width: 100%;
  border-bottom: 1px solid #333;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: end;
  
}
.boardUpper-link{
    display: flex;
    gap: 10px;
    align-items: center;
}
.boardUpper-link a{
    text-decoration: none;
    color: #666;
    font-size: 14px;
}
.boardUpper-link a.active{
    font-weight: 600;
}
.boardUpper-link svg{
    width: 15px;
    height: 15px;
    color: #666;
}

.boardText-login {
    text-align: start;
    margin: 0;
}

/*///////////////차트 css/////////////////*/
.chart-area{
    display: block;
}

.chart-items{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
/*/////////////table css ///////////*/
.oper-status{
    margin-top: 30px;
}
.stats-table,
.order-table {
  border-collapse: collapse;
  width: 950px;
  margin: 20px 20px 0 20px;
  font-size: 16px;
  border-bottom: 1px solid #ccc;
}

.stats-table th,
.order-table th{
    width: 190px;
    padding: 10px;
    border-top: 1px solid #666;
    font-size: 18px;
    border-right: 1px solid #ccc;
}
.stats-table th:last-child,
.order-table th:last-child,
.stats-table td:last-child,
.order-table td:last-child{
    border-right: 1px solid white;
}

.stats-table td,
.order-table td {

  text-align: center;
  font-weight: bold;
}

.total-row td{
    color: #ED5325;
    padding-bottom: 5px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #666;
}

.yester-today td{
    padding: 10px;
    border-right: 1px solid #ccc;
}

/*///////////////게시판 조회 css/////////////////*/
.board-area{
    display: flex;
    gap: 40px;
    margin-top: 30px;
}


.notice-table,
.qna-table{
  border-collapse: collapse;
  margin-top: 7px;
  font-size: 14px;
  border-top: 1px solid #666;
  width: 470px;
}

.notice-table td,
.qna-table td{
  border-bottom: 1px solid #ccc;
  padding: 20px;
  font-size: 15px;
}

.notice-table td:last-child,
.qna-table td:last-child{
    display: flex;
    justify-content: end;
}

.board-area a{
    text-decoration: none;
    color: #333;
}

.notice-table td a:hover,
.qna-table td a:hover{
    text-decoration: underline;
}