<div th:replace="~{my/_header.html}"></div>
            <div class="main-container">
                <div class="side-menu">
                    <div class="menu-list">
                        <ul>
                            <li><a th:href="@{/my/order}">전체주문내역</a></li>
                            <li><a th:href="@{/my/point}">포인트내역</a></li>
                            <li><a th:href="@{/my/coupon}">쿠폰</a></li>
                            <li><a th:href="@{/my/review}">나의리뷰</a></li>
                            <li><a th:href="@{/my/qna}">문의하기</a></li>
                            <li class="active"><a th:href="@{/my/option}">나의설정</a></li>
                        </ul>
                    </div>
                </div>
                <div class="main-content">
                    <div class="banner-ad">
                        <img th:src="@{/images/my/banner_ad.jpg}" alt="광고사진">
                    </div>
                    <div class="option">
                        <h4>나의설정</h4>
                        <form>
                            <table class="option-table">
                                <tr>
                                    <th>사용자 ID</th>
                                    <td th:text="${maskedUid}"></td>
                                </tr>
                                <tr>
                                    <th>비밀번호</th>
                                    <td><button class="pass-btn"><a th:href="@{/memder/find/changePassword}">비밀번호수정</a></button></td>
                                </tr>
                                <tr>
                                    <th>이름</th>
                                    <td th:text="${maskedName}"></td>
                                </tr>
                                <tr>
                                    <th>생년월일</th>
                                    <td th:text="${userInfo.birth}"></td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td>
                                        <input type="text" class="id input-group-email" th:value="${emailId}" disabled>
                                        @
                                        <input type="text" id="emailDomain" class="domain input-group-email" th:value="${emailDomain}" disabled>
                                        <select class="input-group-email" id="emailDomainSelect" disabled>
                                            <option value="naver.com" th:selected="${emailDomain == 'naver.com'}">naver.com</option>
                                            <option value="hanmail.net" th:selected="${emailDomain == 'hanmail.net'}">hanmail.net</option>
                                            <option value="daum.net" th:selected="${emailDomain == 'daum.net'}">daum.net</option>
                                            <option value="gmail.com" th:selected="${emailDomain == 'gmail.com'}">gmail.com</option>
                                            <option value="" th:selected="${emailDomain != 'naver.com' and emailDomain != 'hanmail.net' and emailDomain != 'daum.net' and emailDomain != 'gmail.com'}">직접입력</option>
                                        </select>
                                        <button class="modi-btn" data-target="input-group-email">수정하기</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th>휴대폰</th>
                                    <td>
                                        <input type="number" class="hpbox input-group-hp" th:value="${hp1}" disabled> -
                                        <input type="number" class="hpbox input-group-hp" th:value="${hp2}" disabled> -
                                        <input type="number" class="hpbox input-group-hp" th:value="${hp3}" disabled>
                                        <button class="modi-btn" data-target="input-group-hp">수정하기</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th>주소</th>
                                    <td>
                                        <div class="input-row">
                                            <input type="text" id="zip" name="zip" readonly placeholder="우편번호검색클릭" onclick="postcode()" th:value="${userInfo.zip}"/>
                                        </div>
                                        <div class="input-row-long">
                                            <input type="text" id="addr1" name="addr1" readonly placeholder="기본주소검색" th:value="${userInfo.addr1}"/>
                                            <input type="text" id="addr2" name="addr2" placeholder="상세주소입력" th:value="${userInfo.addr2}"/>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>탈퇴</th>
                                    <td>
                                        <button class="del-btn"><a>탈퇴하기</a></button>
                                    </td>
                                </tr>
                            </table>
                            <div class="btn-area">
                                <button class="final-modify-btn">수정하기</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>