<div th:replace="~{my/_header.html}"></div>
        <div class="main-container">
            <div class="side-menu">
                <div class="menu-list">
                    <ul>
                        <li class="active"><a th:href="@{/my/order}">전체주문내역</a></li>
                        <li><a th:href="@{/my/point}">포인트내역</a></li>
                        <li><a th:href="@{/my/coupon}">쿠폰</a></li>
                        <li><a th:href="@{/my/review}">나의리뷰</a></li>
                        <li><a th:href="@{/my/qna}">문의하기</a></li>
                        <li><a th:href="@{/my/option}">나의설정</a></li>
                    </ul>
                </div>
            </div>
            <div class="main-content">
                <div class="banner-ad">
                    <img th:src="@{/images/my/banner_ad.jpg}" alt="광고사진">
                </div>
                <div class="order">
                    <div class="content-top">
                        <div class="content-title">
                            <span>전체주문내역</span>
                        </div>
                    </div>
                    <table>
                        <tr>
                            <th>날짜</th>
                            <th></th>
                            <th class="second-th">상품정보</th>
                            <th>상태</th>
                            <th>확인/신청</th>
                        </tr>
                        <tr th:each="order : ${orders}">
                            <td th:text="${order.dateString}"></td>
                            <td>
                                <div class="prod-img">
                                    <img th:src="@{${order.encodedImg1}}" alt="상품 이미지"/>
                                </div>
                            </td>
                            <td class="second-td">
                                <div class="prod-info">
                                    <p><span th:text="'주문번호 : ' + ${order.order_number}"></span></p>
                                    <p><span th:text="${order.manufacture}">[상호명]</span></p>
                                    <p><span th:text="${order.prod_name}"></span></p>
                                    <p th:text="'수량 : ' + ${order.piece} + '개'"></p>
                                    <h4 th:text="${order.priceString}"></h4>
                                </div>
                            </td>
                            <td th:switch="${order.stat}">
                                <span th:case="0" class="status-payment-pending">결제대기</span>
                                <span th:case="1" class="status-payment-complete">결제완료</span>
                                <span th:case="2" class="status-preparing-shipment">배송준비</span>
                                <span th:case="3" class="status-shipping">배송중</span>
                                <span th:case="4" class="status-delivered">배송완료</span>
                                <span th:case="5" class="status-order-cancelled">주문취소</span>
                                <span th:case="6" class="status-return-request">반품요청</span>
                                <span th:case="7" class="status-exchange-request">교환요청</span>
                                <span th:case="8" class="status-purchase-confirmed">구매확정</span>
                                <span th:case="*">알 수 없음</span>
                            </td>
                            <td class="status-cell">
                                <div class="status-actions">

                                    <th:block th:if="${order.stat == 4}">
                                        <button class="btn btn-primary"
                                                data-bs-toggle="modal"
                                                data-bs-target="#confirmModal"
                                                th:data-order-number="${order.order_number}">
                                            구매확정
                                        </button>
                                    </th:block>

                                    <th:block th:if="${order.stat == 1 or order.stat == 2}">
                                        <button class="btn btn-danger order-cancel-btn"
                                                th:data-order-number="${order.order_number}">
                                            주문취소
                                        </button>
                                    </th:block>

                                    <th:block th:if="${order.stat != 5}">
                                        <div class="gap-2">
                                            <button class="btn btn-primary"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#reviewModal"

                                                    th:data-order-number="${order.order_number}"
                                                    th:data-prod-no="${order.prod_number}"
                                                    th:data-prod-name="${order.prod_name}">
                                                상품평쓰기
                                            </button><br>
                                            <button class="btn btn-light btn-return"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#returnModal"
                                                    th:data-order-number="${order.order_number}"
                                                    th:data-prod-no="${order.prod_number}"
                                                    th:data-prod-name="${order.prod_name}"
                                                    th:data-piece="${order.piece}"
                                                    th:data-date-string="${order.dateString}"
                                                    th:data-encoded-img1="${order.encodedImg1}"
                                                    th:data-price-string="${order.priceString}"
                                                    th:data-manufacture="${order.manufacture}"
                                                    th:data-sale-price-string="${order.salePriceString}"
                                                    th:data-discount-string="${order.discountString}">
                                                반품신청
                                            </button><br>
                                            <button class="btn btn-light btn-exchange"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#exchangeModal"
                                                    th:data-order-number="${order.order_number}"
                                                    th:data-prod-no="${order.prod_number}"
                                                    th:data-prod-name="${order.prod_name}"
                                                    th:data-piece="${order.piece}"
                                                    th:data-date-string="${order.dateString}"
                                                    th:data-encoded-img1="${order.encodedImg1}"
                                                    th:data-price-string="${order.priceString}"
                                                    th:data-manufacture="${order.manufacture}"
                                                    th:data-sale-price-string="${order.salePriceString}"
                                                    th:data-discount-string="${order.discountString}">
                                                교환신청
                                            </button><br>
                                        </div>
                                    </th:block>

                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="pagination">
                    <div class="prev">
                        <!-- 검색 있을 때 -->
                        <a th:if="${searchType != null and keyword != null and keyword != ''}"
                           th:href="@{/my/order/search(searchType=${searchType}, keyword=${keyword}, pg=1)}"
                           th:classappend="${OrderPage.pg == 1} ? ' disabled' : ''">
                            <img th:src="@{/images/company/btn-first-page.png}">
                        </a>
                        <a th:if="${searchType != null and keyword != null and keyword != ''}"
                           th:href="@{/my/order/search(searchType=${searchType}, keyword=${keyword}, pg=${OrderPage.pg - 1})}"
                           th:classappend="${OrderPage.pg == 1} ? ' disabled' : ''">
                            <img th:src="@{/images/company/btn-prev-page.png}">
                        </a>

                        <!-- 검색 없을 때 -->
                        <a th:unless="${searchType != null and keyword != null and keyword != ''}"
                           th:href="@{/my/order(pg=1)}"
                           th:classappend="${OrderPage.pg == 1} ? ' disabled' : ''">
                            <img th:src="@{/images/company/btn-first-page.png}">
                        </a>
                        <a th:unless="${searchType != null and keyword != null and keyword != ''}"
                           th:href="@{/my/order(pg=${OrderPage.pg - 1})}"
                           th:classappend="${OrderPage.pg == 1} ? ' disabled' : ''">
                            <img th:src="@{/images/company/btn-prev-page.png}">
                        </a>
                    </div>

                    <div class="pagenumber">
                        <!-- 검색 있을 때 -->
                        <a th:each="i : ${#numbers.sequence(OrderPage.start, OrderPage.end)}"
                           th:if="${searchType != null and keyword != null and keyword != ''}"
                           th:href="@{/my/order/search(searchType=${searchType}, keyword=${keyword}, pg=${i})}"
                           th:text="${i}"
                           th:classappend="${i == OrderPage.pg} ? ' active' : ''"></a>

                        <!-- 검색 없을 때 -->
                        <a th:each="i : ${#numbers.sequence(OrderPage.start, OrderPage.end)}"
                           th:unless="${searchType != null and keyword != null and keyword != ''}"
                           th:href="@{/my/order(pg=${i})}"
                           th:text="${i}"
                           th:classappend="${i == OrderPage.pg} ? ' active' : ''"></a>
                    </div>

                    <div class="last">
                        <!-- 검색 있을 때 -->
                        <a th:if="${searchType != null and keyword != null and keyword != ''}"
                           th:href="@{/my/order/search(searchType=${searchType}, keyword=${keyword}, pg=${OrderPage.pg + 1})}"
                           th:classappend="${OrderPage.pg == OrderPage.end} ? ' disabled' : ''">
                            <img th:src="@{/images/company/btn-next-page.png}">
                        </a>
                        <a th:if="${searchType != null and keyword != null and keyword != ''}"
                           th:href="@{/my/order/search(searchType=${searchType}, keyword=${keyword}, pg=${OrderPage.end})}"
                           th:classappend="${OrderPage.pg == OrderPage.end} ? ' disabled' : ''">
                            <img th:src="@{/images/company/btn-last-page.png}">
                        </a>

                        <!-- 검색 없을 때 -->
                        <a th:unless="${searchType != null and keyword != null and keyword != ''}"
                           th:href="@{/my/order(pg=${OrderPage.pg + 1})}"
                           th:classappend="${OrderPage.pg == OrderPage.end} ? ' disabled' : ''">
                            <img th:src="@{/images/company/btn-next-page.png}">
                        </a>
                        <a th:unless="${searchType != null and keyword != null and keyword != ''}"
                           th:href="@{/my/order(pg=${OrderPage.end})}"
                           th:classappend="${OrderPage.pg == OrderPage.end} ? ' disabled' : ''">
                            <img th:src="@{/images/company/btn-last-page.png}">
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>
<div th:insert="~{my/modal/confirm-modal :: modal}"></div>
<div th:insert="~{my/modal/review-modal :: modal}"></div>
<div th:insert="~{my/modal/return-modal :: modal}"></div>
<div th:insert="~{my/modal/exchange-modal :: modal}"></div>
</body>
</html>