<div th:replace="~{my/_header.html}"></div>
            <div class="main-container">
                <div class="side-menu">
                    <div class="menu-list">
                        <ul>
                            <li><a th:href="@{/my/order}">전체주문내역</a></li>
                            <li class="active"><a th:href="@{/my/point}">포인트내역</a></li>
                            <li><a th:href="@{/my/coupon}">쿠폰</a></li>
                            <li><a th:href="@{/my/review}">나의리뷰</a></li>
                            <li><a th:href="@{/my/qna}">문의하기</a></li>
                            <li><a th:href="@{/my/option}">나의설정</a></li>
                        </ul>
                    </div>
                </div>
                <div class="main-content">
                    <div class="banner-ad">
                        <img th:src="@{/images/my/banner_ad.jpg}" alt="광고사진">
                    </div>
                    <div class="point">
                        <div class="content-top">
                            <div class="content-title">
                                <span>포인트내역</span>
                            </div>
                            <div class="search-box">

                            </div>
                        </div>
                        <div>
                            <table>
                                <tr>
                                    <th>날짜</th>
                                    <th>구분</th>
                                    <th>주문번호</th>
                                    <th>적립금액</th>
                                    <th>비고</th>
                                    <th>유효기간</th>
                                </tr>
                                <tr>
                                    <td>2022-12-13</td>
                                    <td>적립</td>
                                    <td>2022121001</td>
                                    <td>340</td>
                                    <td>상품 구매확정</td>
                                    <td>2024-12-10</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>