<div th:replace="~{company/_head.html}"></div>

    <main>

        <a href="#" class="scroll-down">
            <div class="scroll">
                <span class="scroll-dot"></span>
            </div>
            <div class="arrow-down"></div>
        </a>

        <div class="board">
            
            <div class="slogan-header">
                <h1>큐팡의 생생한 이야기!</h1>
                <p>큐팡의 다양한 영상 콘텐츠로, 쇼핑부터 기술 혁신까지 생생하게 만나보세요.</p>
            </div>

            <div class="media-item">
               <div id="playlist-container"></div>
            </div>


            

        </div>


    </main>

    <div th:replace="~{company/_tail.html}"></div>