<!-- 로그인 여부, 권한 처리 시 필요 -->
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupang::관리자</title>
    <!-- header/footer css -->
    <link rel="stylesheet" th:href="@{/css/admin/main/header_footer.css}">

    <!-- 사이드바 동작 js 및 css -->
    <!-- 1. 사이드바 필요 시 admin.html main 부분 aside영역 복붙
         2. main부분 영역 담당 레이아웃에
              display: flex;
              align-items: stretch;
              추가해야 푸터까지 늘어남
         3. 사이드바 추가 시 푸터랑 붙어있으므로 본인 영역에 맞게 마진 주기
            (footer에다 margin-top주면 사이드바 안늘어남)
            margin-bottom: 120px;
    -->
    <script th:src="@{/js/admin/cs/recruit/sidebarAction.js}" defer></script>
    <link rel="stylesheet" th:href="@{/css/admin/main/sidebar.css}">

    <!-- 개인 필요 및 작업 css, js
     *** ( 각자 페이지 위에 사용 스크립트 선언하면 그 페이지에서 스크립트 사용가능 ) *** -->
    <link rel="stylesheet" th:href="@{/css/admin/main/Admin.css}">
    <script th:src="@{/js/main/top-btn.js}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var barLabels = [[${labels}]];
        var orderData = [[${orderData}]];
        var paymentData = [[${paymentData}]];
        var cancelData = [[${cancelData}]];
        /*]]>*/
    </script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var pieData = [[${pieData}]];
        console.log("pieData:", pieData);
        /*]]>*/
    </script>
    <script th:src="@{/js/admin/main/chart.js}" defer></script>

</head>
<body>

<header>
    <div class="header-layout">
        <div class="header-content">
            <a th:href="@{/admin}">
                <img th:src="@{/images/admin/main/cupangMS_logo(color).png}" alt="로고">
            </a>


            <div class="header-link">
                <div class="header-item">
                    <a th:href="@{/}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-house-icon lucide-house"><path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8"/><path d="M3 10a2 2 0 0 1 .709-1.528l7-6a2 2 0 0 1 2.582 0l7 6A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/></svg>
                        <p>HOME</p>
                    </a>
                </div>

                <div class="header-item">
                    <a th:href="@{/cs/index}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-headset-icon lucide-headset"><path d="M3 11h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-5Zm0 0a9 9 0 1 1 18 0m0 0v5a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2h3Z"/><path d="M21 16v2a4 4 0 0 1-4 4h-5"/></svg>
                        <p>고객센터</p>
                    </a>
                </div>

                <!-- 로그인 했을 경우 관리자 접속 가능 head 맨위에 sec 관련 태그 추가하기 -->
                <form th:action="@{/member/logout}" method="post" sec:authorize="isAuthenticated()">
                    <button type="submit">로그아웃</button>
                </form>

            </div>
        </div>
    </div>

</header>
