<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>회원(구분)</title>
    <link rel="stylesheet" href="/Member/Member.css">
</head>
<body>

    <main>
        <div class="board">

            <div class="welcome-mt">
                <h3>대한민국 1등 온라인 인터넷 쇼핑</h3>
                <h2><img src="/member/images/cupang_logo(color).png" alt="로고 이미지">에 오신 것을 환영합니다.</h2>
            </div>

            <div class="select-area">
                <a href="/member/register.html">
                     <div class="select-individual">
                        <h3>일반회원가입</h3>
                        <img src="/member/images/individual-icon.png" alt="개인아이콘">
                        <h4>개인구매회원(외국인포함)</h4>
                        <h5>만 14세 이상 가능</h5>
                    </div>
                </a>
               
                <a href="/member/registerSeller.html">
                     <div class="select-seller">
                        <h3>판매회원가입</h3>
                        <img src="/member/images/seller-icon.png" alt="판매자아이콘">
                        <h4>사업자판매회원</h4>
                        <h5>사업자등록증을 보유한 회원</h5>
                    </div>
                </a>
               
            </div>
 
        </div>

    </main>
</body>
</html>