<div th:replace="~{member/_head.html}"></div>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script th:src="@{/js/member/validation.js}" defer></script>
<script th:src="@{/js/member/postcode.js}" defer></script>

    <main>
         <div class="board">
            <div class="boardUpper">
                <h2 class="boardText">일반 회원가입</h2>
            </div>
             <form th:action="@{/member/register}" method="post">
                <table class="auth-table">
                    <tr>
                        <th>아이디</th>
                        <td>
                            <input type="text" name="custid" id="checkCustid" placeholder="아이디 입력"/>
                            <span class="uidResult">영문, 숫자 4~12자 설정</span>
                        </td>
                    </tr>
                    <tr>
                        <th>비밀번호</th>
                        <td>
                            <input type="password" name="pw" id="checkPw" placeholder="비밀번호 입력"/>
                            <span class="passResult">영문, 숫자, 특수문자 8~12자 설정</span>
                        </td>
                    </tr>
                    <tr>
                        <th>비밀번호 확인</th>
                        <td><input type="password" name="pw2" placeholder="비밀번호 입력 확인"/></td>
                    </tr>
                </table>

                  <table class="auth-table">
                    <tr>
                        <th>이름</th>
                        <td>
                            <input type="text" name="name" id="checkName" placeholder="이름 입력"/>
                            <span class="nameResult"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>생년월일</th>
                        <td>
                            <input type="date" name="birth">
                        </td>
                    </tr>
                      <tr>
                        <th>성별</th>
                        <td>
                            <input type="radio" name="gender" value="1" class="radio-check">남
                            <input type="radio" name="gender" value="2" class="radio-check">여
                        </td>
                    </tr>
                    <tr>
                        <th>이메일</th>
                        <td>
                            <div class="input-row">
                                <input type="email" name="email" placeholder="이메일 입력"/>
                                <button type="button" id="btnCheckEmail">이메일 인증</button><br>
                                <span class="emailResult"></span>
                            </div>
                            <div class="input-row">
                                <input type="text" id="emailCode" placeholder="인증번호 입력" style="display:none;"/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>휴대폰</th>
                        <td>
                            <div class="input-row">
                                <input type="text" name="hp" placeholder="휴대폰 입력"/>
                                <button type="button" id="btnCheckHp">휴대폰 인증</button>
                                <span class="hpResult"></span>
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <th>주소<br/>(선택)</th>
                            <td>
                                <div class="input-row">
                                <input type="text" id="zip" name="zip" readonly placeholder="우편번호검색클릭" onclick="postcode()"/>
                                </div>
                                <div class="input-row-long">
                                <input type="text" id="addr1" name="addr1" readonly placeholder="기본주소검색"/>
                                <input type="text" id="addr2" name="addr2" placeholder="상세주소입력"/>
                                </div>
                            </td>
                    </tr>
                </table>
                <div class="btn-wrap">
                    <input type="submit" value="회원가입" class="agree-btn">
                </div>
             </form>
         </div>

    </main>

    <div th:replace="~{member/_tail.html}"></div>