<div th:replace="~{my/_header.html}"></div>
            <div class="main-container">
                <div class="side-menu">
                    <div class="menu-list">
                        <ul>
                            <li><a th:href="@{/my/order}">전체주문내역</a></li>
                            <li><a th:href="@{/my/point}">포인트내역</a></li>
                            <li><a th:href="@{/my/coupon}">쿠폰</a></li>
                            <li class="active"><a th:href="@{/my/review}">나의리뷰</a></li>
                            <li><a th:href="@{/my/qna}">문의하기</a></li>
                            <li><a th:href="@{/my/option}">나의설정</a></li>
                        </ul>
                    </div>
                </div>
                <div class="main-content">
                    <div class="banner-ad">
                        <img th:src="@{/images/my/banner_ad.jpg}" alt="광고사진">
                    </div>
                    <div class="review">
                        <div class="content-top">
                            <div class="content-title">
                                <span>나의리뷰</span>
                            </div>
                        </div>
                        <table>
                            <tr>
                                <th>번호</th>
                                <th>상품명</th>
                                <th>내용</th>
                                <th>평점</th>
                                <th>작성일</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>상품번호/상품명</td>
                                <td>배송이 빨라요</td>
                                <td></td>
                                <td>2022-12-10</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>