<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.kmarket.mapper.CartMapper">

    <!-- 장바구니 조회 -->
    <select id="selectCartList" parameterType="int" resultType="kr.co.kmarket.dto.CartDTO">
        SELECT
            c.CART_NUMBER,
            c.CUST_NUMBER,
            c.PROD_NUMBER,
            p.PROD_NAME AS prod_name,
            p.PRICE,
            p.DISCOUNT,
            c.QUANTITY AS quantity,
            p.IMG_1
        FROM CART c
                 JOIN PRODUCT p ON c.PROD_NUMBER = p.PROD_NUMBER
        WHERE c.CUST_NUMBER = #{_parameter}
        ORDER BY c.CART_NUMBER DESC
    </select>

    <!-- 장바구니 추가 -->
    <insert id="insertCart" parameterType="kr.co.kmarket.dto.CartDTO">
        INSERT INTO CART (CART_NUMBER, CUST_NUMBER, PROD_NUMBER, QUANTITY)
        VALUES (CART_SEQ.NEXTVAL, #{cust_number}, #{prod_number}, #{quantity})
    </insert>

    <!-- 장바구니 삭제 -->
    <delete id="deleteCart" parameterType="int">
        DELETE FROM CART WHERE CART_NUMBER = #{_parameter}
    </delete>

    <!-- 수량 수정 -->
    <update id="updateQuantity" parameterType="kr.co.kmarket.dto.CartDTO">
        UPDATE CART
        SET QUANTITY = #{quantity}
        WHERE CART_NUMBER = #{cart_number}
    </update>

</mapper>
