<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.kmarket.mapper.OrderMapper">

    <!-- 주문 등록 -->
    <insert id="insertOrder" parameterType="kr.co.kmarket.dto.OrderDTO">
        <selectKey keyProperty="order_number" resultType="string" order="BEFORE">
            SELECT 'ORD' || LPAD(ORDER_SEQ.NEXTVAL, 8, '0') FROM DUAL
        </selectKey>

        INSERT INTO ORDER_TBL (
        ORDER_NUMBER, CUST_NUMBER, O_DATE, STAT, NAME, HP, ADDR, ADDR2, PAYMENT
        ) VALUES (
        #{order_number}, #{cust_number}, SYSDATE, 1,
        #{name}, #{hp}, #{addr}, #{addr2}, #{payment}
        )
    </insert>


    <!-- 장바구니 목록 -->
    <select id="selectCartList" resultType="kr.co.kmarket.dto.CartDTO">
        SELECT *
        FROM CART
        WHERE CART_NUMBER IN
        <foreach item="num" collection="cart_numbers" open="(" separator="," close=")">
            #{num}
        </foreach>
    </select>

    <!-- 사용 가능한 쿠폰 -->
    <select id="selectAvailableCoupons" parameterType="int" resultType="kr.co.kmarket.dto.CouponDTO">
        SELECT
            c.COUPON_NO    AS couponNo,
            c.COUPON_NAME  AS couponName,
            c.BENEFIT      AS benefit,
            c.USE_PERIOD   AS usePeriod,
            c.ISSUE_DATE   AS issueDate,
            c.STATUS       AS status
        FROM COUPON c
        WHERE c.CUST_NUMBER = #{cust_number}
          AND c.STATUS = '미사용'
          AND c.USE_PERIOD >= SYSDATE
        ORDER BY c.ISSUE_DATE DESC
    </select>

    <!-- 회원 포인트 -->
    <select id="selectUserPoint" parameterType="int" resultType="int">
        SELECT NVL(SUM(POINT_AMOUNT), 0)
        FROM POINT
        WHERE CUST_NUMBER = #{cust_number}
          AND (EXPIRE_DATE IS NULL OR EXPIRE_DATE > SYSDATE)
    </select>

    <!-- 포인트 내역 등록 -->
    <insert id="insertPoint" parameterType="kr.co.kmarket.dto.PointDTO">
        INSERT INTO POINT (
            POINT_ID, CUST_NUMBER, ORDER_NUMBER, POINT_TYPE,
            POINT_AMOUNT, DESCRIPTION, CREATED_AT
        )
        VALUES (
                   POINT_SEQ.NEXTVAL,
                   #{cust_number},
                   #{order_number},
                   #{point_type},
                   #{point_amount},
                   #{description},
                   SYSDATE
               )
    </insert>

</mapper>
