<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.kmarket.mapper.OrderMapper">


    <insert id="insertOrder" parameterType="kr.co.kmarket.dto.OrderDTO">
        <selectKey keyProperty="order_number" resultType="string" order="BEFORE">
            SELECT 'ORD' || LPAD(ORDER_SEQ.NEXTVAL, 8, '0') FROM DUAL
        </selectKey>

        INSERT INTO "ORDER" (
        ORDER_NUMBER, CUST_NUMBER, NAME, HP, ZIP, ADDR, ADDR2, REQ,
        PRICE, DELIVERY, DISCOUNT, USE_POINT, PAYMENT, O_DATE, STAT
        ) VALUES (
        #{order_number}, #{cust_number}, #{name}, #{hp}, #{zip}, #{addr}, #{addr2}, #{req},
        #{price, jdbcType=NUMERIC}, #{delivery, jdbcType=NUMERIC}, #{discount, jdbcType=NUMERIC},
        #{usePoint, jdbcType=NUMERIC}, #{payment, jdbcType=NUMERIC}, SYSDATE, 1
        )
    </insert>

    <!-- ===================== -->
    <!-- ✅ 주문 상세 등록 -->
    <!-- ===================== -->

    <insert id="insertOrderDetail" parameterType="kr.co.kmarket.dto.OrderDTO">
        INSERT INTO ORDERDETAIL (
            ORDER_NUMBER, PROD_NUMBER, PRICE, PIECE
        ) VALUES (
                     #{order_number}, #{prod_number},
                     #{salePrice, jdbcType=NUMERIC}, #{piece, jdbcType=NUMERIC}
                 )
    </insert>

    <select id="selectOrderByNumber" parameterType="string" resultType="kr.co.kmarket.dto.OrderDTO">
        SELECT
            ORDER_NUMBER AS order_number,
            CUST_NUMBER  AS cust_number,
            NAME         AS name,
            HP           AS hp,
            ZIP          AS zip,
            ADDR         AS addr,
            ADDR2        AS addr2,
            REQ          AS req,
            PRICE        AS price,
            DELIVERY     AS delivery,
            DISCOUNT     AS discount,
            USE_POINT    AS usePoint,
            PAYMENT      AS payment,
            O_DATE       AS oDate,
            STAT         AS stat
        FROM "ORDER"
        WHERE ORDER_NUMBER = #{order_number}
    </select>


    <select id="selectOrderDetails" parameterType="string" resultType="kr.co.kmarket.dto.OrderDTO">
        SELECT
            D.ORDER_NUMBER AS order_number,
            D.PROD_NUMBER  AS prod_number,
            D.PRICE        AS salePrice,
            D.PIECE        AS piece,
            P.PROD_NAME    AS prod_name,
            P.IMG_1        AS img1,
            P.MANUFACTURE  AS manufacture
        FROM ORDERDETAIL D
                 JOIN PRODUCT P ON D.PROD_NUMBER = P.PROD_NUMBER
        WHERE D.ORDER_NUMBER = #{order_number}
    </select>


    <select id="selectCartList" resultType="kr.co.kmarket.dto.CartDTO">
        SELECT * FROM CART
        WHERE CART_NUMBER IN
        <foreach item="num" collection="cart_numbers" open="(" separator="," close=")">
            #{num}
        </foreach>
    </select>


    <select id="selectAvailableCoupons" parameterType="int" resultType="kr.co.kmarket.dto.CouponDTO">
        SELECT
            c.COUPON_NO      AS couponNo,
            c.COUPON_NAME    AS couponName,
            c.BENEFIT        AS benefit,
            c.COUPON_TYPE    AS couponType,
            h.EXPIRE_DATE    AS usePeriod
        FROM COUPON_HISTORY h
                 JOIN COUPON c ON h.COUPON_NO = c.COUPON_NO
        WHERE h.CUST_NUMBER = #{cust_number}
          AND h.STATUS = '미사용'
          AND h.EXPIRE_DATE >= SYSDATE
        ORDER BY h.ISSUE_DATE DESC
    </select>


    <select id="selectUserPoint" parameterType="int" resultType="int">
        SELECT NVL(SUM(POINT_AMOUNT), 0)
        FROM POINT
        WHERE CUST_NUMBER = #{cust_number}
    </select>


    <insert id="insertPoint" parameterType="kr.co.kmarket.dto.PointDTO">
        INSERT INTO POINT (
            POINT_ID, CUST_NUMBER, ORDER_NUMBER, POINT_TYPE,
            POINT_AMOUNT, DESCRIPTION, CREATED_AT
        ) VALUES (
                     POINT_SEQ.NEXTVAL, #{cust_number}, #{order_number},
                     #{point_type}, #{point_amount}, #{description}, SYSDATE
                 )
    </insert>


    <select id="selectCartItemsByNumbers" resultType="kr.co.kmarket.dto.CartDTO">
        SELECT
        c.CART_NUMBER, c.CUST_NUMBER, c.PROD_NUMBER, c.QUANTITY,
        p.PROD_NAME, p.PRICE, p.DISCOUNT, p.IMG_1,
        o.OPT_NAME, o.OPT_PRICE
        FROM CART c
        JOIN PRODUCT p ON c.PROD_NUMBER = p.PROD_NUMBER
        LEFT JOIN PRODUCT_OPTION o ON p.PROD_NUMBER = o.PROD_NUMBER
        WHERE c.CART_NUMBER IN
        <foreach collection="array" item="num" open="(" separator="," close=")">
            #{num}
        </foreach>
    </select>


    <!-- OrderMapper.xml -->
    <resultMap id="OrderMap" type="kr.co.kmarket.dto.OrderDTO">
        <result column="cust_number"        property="cust_number"/>
        <result column="order_number"       property="order_number"/>
        <result column="name"               property="name"/>
        <result column="hp"                 property="hp"/>
        <result column="zip"                property="zip"/>
        <result column="addr"               property="addr"/>
        <result column="addr2"              property="addr2"/>
        <result column="req"                property="req"/>
        <result column="delivery"           property="delivery"/>
        <result column="payment"            property="payment"/>
        <result column="piece"              property="piece"/>
        <result column="price"              property="price"/>
        <result column="use_point"          property="usePoint"/>

        <result column="o_date"             property="oDate"/>
        <result column="stat"               property="stat"/>
        <result column="etc"                property="etc"/>
        <result column="exchange"           property="exchange"/>
        <result column="exchange_reason"    property="exchange_reason"/>

        <result column="img_1"              property="img1"/>
        <result column="manufacture"        property="manufacture"/>
        <result column="prod_name"          property="prod_name"/>
        <result column="prod_number"        property="prod_number"/>
        <result column="discount"           property="discount"/>
        <result column="sale_price"         property="salePrice"/>

        <result column="custid"             property="custId"/>
        <result column="ord_name"           property="ordName"/>
        <result column="ord_hp"             property="ordHp"/>
        <result column="delivery_company"   property="deliveryCompany"/>
        <result column="tracking_number"    property="trackingNumber"/>
    </resultMap>

    <select id="selectOrder" resultMap="OrderMap">
        SELECT
            o.cust_number, o.order_number, o.name, o.hp, o.zip, o.addr, o.addr2, o.req, o.delivery,
            o.payment, o.piece, o.price, o.use_point,
            o.o_date, o.stat, o.etc, o.exchange, o.exchange_reason,
            p.img_1, p.manufacture, p.prod_name, p.prod_number, p.discount, p.sale_price,
            m.custid, m.name AS ord_name, m.hp AS ord_hp,
            s.delivery_company, s.tracking_number
        FROM orders o
                 JOIN member m ON m.cust_number = o.cust_number
                 JOIN order_item oi ON oi.order_number = o.order_number
                 JOIN product p ON p.prod_number = oi.prod_number
                 LEFT JOIN shipment s ON s.order_number = o.order_number
        WHERE o.order_number = #{orderNumber}
    </select>

    <!-- 주문 완료 페이지용 데이터 조회 -->
    <select id="selectOrderComplete" parameterType="string" resultType="kr.co.kmarket.dto.OrderDTO">
        SELECT
            o.order_number,
            o.name,
            o.hp,
            o.addr,
            o.addr2,
            o.delivery,
            o.price,
            o.usePoint,
            o.savePoint,
            o.payment,
            d.prod_number,
            d.prod_name,
            d.prod_price,
            d.count,
            p.point_amount AS savePoint
        FROM
            "ORDER" o
                JOIN ORDERDETAIL d ON o.order_number = d.order_number
                LEFT JOIN POINT p ON o.order_number = p.order_number
        WHERE
            o.order_number = #{order_number}
    </select>



</mapper>
