<!doctype html>
<!-- 로그인 여부, 권한 처리 시 필요 -->
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cupang::회원</title>
    <link rel="stylesheet" th:href="@{/css/main/style_index.css}">
    <link rel="stylesheet" th:href="@{/css/main/style_header.css}">
    <link rel="stylesheet" th:href="@{/css/main/style_footer.css}">

    <!-- Top 버튼 기능 -->
<!--    <script th:src="@{/js/main/top-btn.js}" defer></script>-->

    <!-- 로그인/로그아웃/관리자 메뉴 기능 -->
<!--    <script th:src="@{/js/main/user-menu.js}" defer></script>-->

    <!-- 회원 css 및 기능 -->
    <link rel="stylesheet" th:href="@{/css/member/Member.css}">
    <script th:src="@{/js/member/change-idpw.js}" defer></script>

</head>

<body>
<div class="page">

    <!-- Header -->
    <header class="header" role="banner">

        <!-- 로그인 + 회원가입 + 고객센터 -->
        <div class="utility-nav">
            <div class="inner" >
                <ul class="utility-list" id="utility-menu">
                    <!-- 로그인 상태 -->
                    <li sec:authorize="isAuthenticated()">
                        <span th:text="${member.name}">회원명</span>님
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/member/logout}">로그아웃</a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/cs/index}">고객센터</a>
                    </li>
                    <!-- 관리자 로그인 시 관리자 페이지 링크 -->
                    <li sec:authorize="hasAnyRole('2','3')">
                        <a th:href="@{/admin}">관리자</a>
                    </li>
                    <!-- 비로그인 상태 -->
                    <li sec:authorize="!isAuthenticated()">
                        <a th:href="@{/member/login}">로그인</a>
                    </li>
                    <li sec:authorize="!isAuthenticated()">
                        <a th:href="@{/member/join}">회원가입</a>
                    </li>
                    <li sec:authorize="!isAuthenticated()">
                        <a th:href="@{/cs/index}">고객센터</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- 검색창 전체 + 인풋박스 + 검색 버튼 -->
        <div class="brand-row container">
            <a th:href="@{/}" class="logo" aria-label="큐팡 홈">
                <img th:src="@{/images/main/cupang_logo(color).png}" alt="큐팡 로고" class="logo-img">
            </a>



            <!-- 바로가기 버튼 묶음 -->
            <!-- 웹아이콘 : https://lucide.dev/ 이용 -->
            <div class="quick-actions" aria-label="바로가기">
                <a href="#" class="quick-action" aria-label="찜">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2"
                         stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-heart-plus-icon lucide-heart-plus">
                        <path d="m14.479 19.374-.971.939a2 2 0 0 1-3 .019L5 15c-1.5-1.5-3-3.2-3-5.5a5.5 5.5 0 0 1 9.591-3.676.56.56 0 0 0 .818 0A5.49 5.49 0 0 1 22 9.5a5.2 5.2 0 0 1-.219 1.49"/>
                        <path d="M15 15h6"/>
                        <path d="M18 12v6"/>
                    </svg>
                    <span>찜</span>
                </a>
                <a th:href="${#authorization.expression('isAuthenticated()') ? '/kmarket/my/home' : '/kmarket/member/login'}"
                   class="quick-action" aria-label="마이페이지">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2"
                         stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user-round-icon lucide-user-round">
                        <circle cx="12" cy="8" r="5"/>
                        <path d="M20 21a8 8 0 0 0-16 0"/>
                    </svg>
                    <span>마이페이지</span>
                </a>
                <a th:href="${#authorization.expression('isAuthenticated()') ? '/kmarket/product/cart' : '/kmarket/member/login'}"
                   class="quick-action" id="header-cart" aria-label="장바구니">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2"
                         stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-shopping-cart-icon lucide-shopping-cart">
                        <circle cx="8" cy="21" r="1"/>
                        <circle cx="19" cy="21" r="1"/>
                        <path d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12"/>
                    </svg>
                    <span>장바구니</span>
                </a>
            </div>
        </div>

    </header>