<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원목록</title>
    <link rel="stylesheet" th:href="@{/css/admin/main/header_footer.css}">
    <link rel="stylesheet" th:href="@{/css/admin/member/memberList.css}">
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const allSelect = document.querySelector(".all_select"); // 전체 선택 체크박스
            const checkboxes = document.querySelectorAll("tbody input[type='checkbox']"); // 테이블 안 체크박스들

            allSelect.addEventListener("change", function() {
                checkboxes.forEach(cb => cb.checked = allSelect.checked);
            });

            const status_box = document.querySelectorAll(".status");
            status_box.forEach(status => {
                if (status.textContent === "run") {
                    status.style.color = "#00B050";
                    status.textContent = "정상"
                } else if (status.textContent === "stop") {
                    status.style.color = "red";
                    status.textContent = "중지"
                } else if (status.textContent === "ready") {
                    status.style.color = "#808080";
                    status.textContent = "휴면"
                } else if (status.textContent === "withdrawal") {
                    status.style.color = "#808080";
                    status.textContent = "탈퇴"
                }
            });

            //선택 수정 기능
            const modifyBtn = document.querySelector(".select_modify");
            modifyBtn.addEventListener("click", async function() {
                const selected = document.querySelectorAll("tbody .row-checkbox:checked");
                const updates = Array.from(selected).map(cb => {
                    const row = cb.closest("tr");
                    const custId = cb.dataset.id;
                    const ratingValue = row.querySelector(".rating").value;

                    return { custId: custId, rating: ratingValue };
                });

                try {
                    const response = await fetch("/kmarket/admin/member/list/rating", {
                        method: "PATCH",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify(updates)
                    });

                    if(response.ok) {
                        alert("선택 수정 완료!");
                        location.reload();
                    } else {
                        alert("선택 수정 실패!");
                    }
                } catch(err) {
                    console.error(err);
                    alert("오류 발생!");
                }
            });

            //상태 버튼
            document.querySelectorAll(".operation-btn").forEach(btn => {
                btn.addEventListener("click", async function() {
                    const custId = this.dataset.id;
                    let current = this.dataset.operation;
                    let next;

                    if (current === "ready") next = "run";
                    else if (current === "run") next = "stop";
                    else if (current === "stop") next = "run";

                    try {
                        const response = await fetch(`/kmarket/admin/member/list`, {
                            method: "PATCH",
                            headers: {
                                "Content-Type" : "application/json"
                            },
                            body: JSON.stringify({
                                custId: custId,
                                operation: next
                            })
                        });
                        if(response.ok) {
                            this.dataset.operation = next;
                            this.textContent = (next === "run") ? "[중지]" : "[재개]";
                            location.reload();
                        } else {
                            alert("상태 변경 실패");
                        }
                    } catch(err) {
                        console.error(err);
                        alert("오류 발생");
                    }
                });
            });

            /*모달 파트*/
            const modal = document.getElementById("myModal");
            const openBtn_box = document.querySelectorAll(".member_modify");
            const closeBtn = modal.querySelector(".close");
            const form = document.getElementById("memberForm");

            openBtn_box.forEach(openBtn => {
                openBtn.addEventListener("click", async () => {
                    const custId = openBtn.dataset.id;
                    console.log("수정 버튼 클릭: ", custId);

                    try {
                        const response = await fetch(`/kmarket/admin/member/list/${custId}`);
                        if (!response.ok) throw new Error("회원 정보를 불러올 수 없습니다.");

                        const data = await response.json();
                        console.log("회원 정보:", data);

                        form.querySelector("[name='custId']").value = data.custId;
                        form.querySelector("[name='name']").value = data.name;
                        form.querySelector(`[name='gender'][value='${data.gender === 1 ? 'M' : 'F'}']`).checked = true;
                        form.querySelector("[name='rating']").value = data.rating;

                        if(data.operation === "run") {
                            document.getElementById("operationDisplay").style.color = "#00B050";
                            document.getElementById("operationDisplay").textContent = "정상";
                        } else if(data.operation === "stop") {
                            document.getElementById("operationDisplay").style.color = "red";
                            document.getElementById("operationDisplay").textContent = "중지";
                        } else if(data.operation === "ready") {
                            document.getElementById("operationDisplay").style.color = "#808080";
                            document.getElementById("operationDisplay").textContent = "휴면";
                        } else if(data.operation === "withdrawal") {
                            document.getElementById("operationDisplay").style.color = "#808080";
                            document.getElementById("operationDisplay").textContent = "탈퇴";
                        }

                        form.querySelector("[name='email']").value = data.email;
                        form.querySelector("[name='hp']").value = data.hp;
                        form.querySelector("[name='zip']").value = data.zip;
                        form.querySelector("[name='addr1']").value = data.addr1;
                        form.querySelector("[name='addr2']").value = data.addr2;

                        form.querySelector("[name='date']").textContent = data.date;
                        form.querySelector("[name='updated_at']").textContent = data.updated_at;

                        modal.style.display = "block";
                    } catch (err) {
                        console.error(err);
                        alert("회원 정보를 불러오는 중 오류가 발생했습니다.");
                    }
                });
            });


            closeBtn.addEventListener("click", () => modal.style.display = "none");
            window.addEventListener("click", (e) => {
                if (e.target === modal) modal.style.display = "none";
            });

            const modalContent = modal.querySelector(".modal-content");
                modalContent.addEventListener("click", (e) => {
                    e.stopPropagation(); // 클릭 이벤트가 부모로 전달되지 않도록 막음
            });
        });
    </script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:src="@{/js/member/postcode.js}" defer></script>
    <script th:src="@{/js/admin/cs/recruit/sidebarAction.js}" defer></script>
    <link rel="stylesheet" th:href="@{/css/admin/main/sidebar.css}">
</head>
<body>
    <header>
        <div class="header-layout">
            <div class="header-content">
                <a th:href="@{/admin}">
                    <img th:src="@{/images/admin/main/cupangMS_logo(color).png}" alt="로고">
                </a>

                <div class="header-link">
                    <div class="header-item">
                        <a th:href="@{/}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-house-icon lucide-house"><path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8"/><path d="M3 10a2 2 0 0 1 .709-1.528l7-6a2 2 0 0 1 2.582 0l7 6A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/></svg>
                            <p>HOME</p>
                        </a>
                    </div>

                    <div class="header-item">
                        <a th:href="@{/cs/index}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-headset-icon lucide-headset"><path d="M3 11h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-5Zm0 0a9 9 0 1 1 18 0m0 0v5a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2h3Z"/><path d="M21 16v2a4 4 0 0 1-4 4h-5"/></svg>
                            <p>고객센터</p>
                        </a>
                    </div>

                    <button>로그아웃</button>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <aside class="sidebar">
                <div class="side-item">
                    <div class="main-menu">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-settings-icon lucide-settings"><path d="M9.671 4.136a2.34 2.34 0 0 1 4.659 0 2.34 2.34 0 0 0 3.319 1.915 2.34 2.34 0 0 1 2.33 4.033 2.34 2.34 0 0 0 0 3.831 2.34 2.34 0 0 1-2.33 4.033 2.34 2.34 0 0 0-3.319 1.915 2.34 2.34 0 0 1-4.659 0 2.34 2.34 0 0 0-3.32-1.915 2.34 2.34 0 0 1-2.33-4.033 2.34 2.34 0 0 0 0-3.831A2.34 2.34 0 0 1 6.35 6.051a2.34 2.34 0 0 0 3.319-1.915"/><circle cx="12" cy="12" r="3"/></svg>
                        <p>환경설정</p>
                    </div>
                    <ul class="sub-menu">
                        <li><a th:href="@{/admin/config/basic}" class="sub-link">기본설정</a></li>
                        <li><a th:href="@{/admin/config/banner}" class="sub-link">배너관리</a></li>
                        <li><a th:href="@{/admin/config/policy}" class="sub-link">약관관리</a></li>
                        <li><a th:href="@{/admin/config/category}" class="sub-link">카테고리</a></li>
                        <li><a th:href="@{/admin/config/version}" class="sub-link">버전관리</a></li>
                    </ul>
                </div>
                <div class="side-item">
                    <div class="main-menu">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-store-icon lucide-store"><path d="M15 21v-5a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v5"/><path d="M17.774 10.31a1.12 1.12 0 0 0-1.549 0 2.5 2.5 0 0 1-3.451 0 1.12 1.12 0 0 0-1.548 0 2.5 2.5 0 0 1-3.452 0 1.12 1.12 0 0 0-1.549 0 2.5 2.5 0 0 1-3.77-3.248l2.889-4.184A2 2 0 0 1 7 2h10a2 2 0 0 1 1.653.873l2.895 4.192a2.5 2.5 0 0 1-3.774 3.244"/><path d="M4 10.95V19a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8.05"/></svg>
                        <p>상점관리</p>
                    </div>
                    <ul class="sub-menu">
                        <li><a th:href="@{/admin/shop/list}" class="sub-link">상점목록</a></li>
                        <li><a th:href="@{/admin/shop/sales}" class="sub-link">매출현황</a></li>
                    </ul>
                </div>
                <div class="side-item">
                    <div class="main-menu">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user-pen-icon lucide-user-pen"><path d="M11.5 15H7a4 4 0 0 0-4 4v2"/><path d="M21.378 16.626a1 1 0 0 0-3.004-3.004l-4.01 4.012a2 2 0 0 0-.506.854l-.837 2.87a.5.5 0 0 0 .62.62l2.87-.837a2 2 0 0 0 .854-.506z"/><circle cx="10" cy="7" r="4"/></svg>
                        <p>회원관리</p>
                    </div>
                    <ul class="sub-menu">
                        <li><a th:href="@{/admin/member/list}" class="sub-link">회원목록</a></li>
                        <li><a th:href="@{/admin/member/point}" class="sub-link">포인트관리</a></li>
                    </ul>
                </div>
                <div class="side-item">
                    <div class="main-menu">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-package-open-icon lucide-package-open"><path d="M12 22v-9"/><path d="M15.17 2.21a1.67 1.67 0 0 1 1.63 0L21 4.57a1.93 1.93 0 0 1 0 3.36L8.82 14.79a1.655 1.655 0 0 1-1.64 0L3 12.43a1.93 1.93 0 0 1 0-3.36z"/><path d="M20 13v3.87a2.06 2.06 0 0 1-1.11 1.83l-6 3.08a1.93 1.93 0 0 1-1.78 0l-6-3.08A2.06 2.06 0 0 1 4 16.87V13"/><path d="M21 12.43a1.93 1.93 0 0 0 0-3.36L8.83 2.2a1.64 1.64 0 0 0-1.63 0L3 4.57a1.93 1.93 0 0 0 0 3.36l12.18 6.86a1.636 1.636 0 0 0 1.63 0z"/></svg>
                        <p>상품관리</p>
                    </div>
                    <ul class="sub-menu">
                        <li><a th:href="@{/admin/product/list}" class="sub-link">상품목록</a></li>
                        <li><a th:href="@{/admin/product/register}" class="sub-link">상품등록</a></li>
                    </ul>
                </div>
                <div class="side-item">
                    <div class="main-menu">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-receipt-text-icon lucide-receipt-text"><path d="M4 2v20l2-1 2 1 2-1 2 1 2-1 2 1 2-1 2 1V2l-2 1-2-1-2 1-2-1-2 1-2-1-2 1Z"/><path d="M14 8H8"/><path d="M16 12H8"/><path d="M13 16H8"/></svg>
                        <p>주문관리</p>
                    </div>
                    <ul class="sub-menu">
                        <li><a th:href="@{/admin/order/list}" class="sub-link">주문현황</a></li>
                        <li><a th:href="@{/admin/order/delivery}" class="sub-link">배송현황</a></li>
                    </ul>
                </div>
                <div class="side-item">
                    <div class="main-menu">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-ticket-percent-icon lucide-ticket-percent"><path d="M2 9a3 3 0 1 1 0 6v2a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-2a3 3 0 1 1 0-6V7a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2Z"/><path d="M9 9h.01"/><path d="m15 9-6 6"/><path d="M15 15h.01"/></svg>
                        <p>쿠폰관리</p>
                    </div>
                    <ul class="sub-menu">
                        <li><a th:href="@{/admin/coupon/list}" class="sub-link">쿠폰목록</a></li>
                        <li><a th:href="@{/admin/coupon/issued}" class="sub-link">쿠폰발급현황</a></li>
                    </ul>
                </div>
                <div class="side-item">
                    <div class="main-menu">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-laptop-minimal-check-icon lucide-laptop-minimal-check"><path d="M2 20h20"/><path d="m9 10 2 2 4-4"/><rect x="3" y="4" width="18" height="12" rx="2"/></svg>
                        <p>고객센터</p>
                    </div>
                    <ul class="sub-menu">
                        <li><a th:href="@{/admin/cs/notice/list}" class="sub-link">공지사항</a></li>
                        <li><a th:href="@{/admin/cs/faq/list}" class="sub-link">자주묻는질문</a></li>
                        <li><a th:href="@{/admin/cs/qna/list}" class="sub-link">문의하기</a></li>
                        <li><a th:href="@{/admin/cs/recruit/list}" class="sub-link">채용하기</a></li>
                    </ul>
                </div>
            </aside>

            <div class="content">
                <div class="content-header">
                    <h1 class="top-title">회원목록</h1>
                    <div>
                        <span>HOME</span> &nbsp;&gt;&nbsp;
                        <span>회원관리</span> &nbsp;&gt;&nbsp;
                        <span style="font-weight: bold;">회원목록</span>
                    </div>
                </div>

                <form th:action="@{/admin/member/list/search}" method="get" style="margin: 20px 0;">
                    <select id="search-select" name="searchType">
                        <option value="id">아이디</option>
                        <option value="name">이름</option>
                        <option value="email">이메일</option>
                        <option value="hp">휴대폰</option>
                    </select>
                    <input type="text" name="keyword" id="search-input" placeholder="검색어 입력">
                    <input type="submit" class="search-btn" value="검색">
                </form>
                <div class="table-container">
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th><input type="checkbox" class="all_select"></th>
                                    <th>번호</th>
                                    <th>아이디</th>
                                    <th>이름</th>
                                    <th>성별</th>
                                    <th>등급</th>
                                    <th>포인트</th>
                                    <th>이메일</th>
                                    <th>휴대폰</th>
                                    <th>가입일</th>
                                    <th>상태</th>
                                    <th>관리</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="dto, stat:${pageResponseDTO.dtoList}">
                                    <td><input type="checkbox" class="row-checkbox" th:value="${dto['ID']}" th:data-id="${dto['CUSTID']}"></td>
                                    <td th:text="${dto['ID']}"></td>
                                    <td th:text="${#strings.substring(dto['CUSTID'], 0, 3) + '***'}"></td>
                                    <td th:text="${dto['NAME']}"></td>
                                    <td th:text="${dto['GENDER'] == 1 ? 'M' : 'F'}"></td>
                                    <td>
                                        <select name="rating" class="grade rating">
                                            <option value="vvip" th:selected="${dto['RATING'] == 'vvip'}">VVIP</option>
                                            <option value="vip" th:selected="${dto['RATING'] == 'vip'}">VIP</option>
                                            <option value="gold" th:selected="${dto['RATING'] == 'gold'}">GOLD</option>
                                            <option value="silver" th:selected="${dto['RATING'] == 'silver'}">SILVER</option>
                                            <option value="family" th:selected="${dto['RATING'] == 'family'}">FAMILY</option>
                                        </select>
                                    </td>
                                    <td th:text="${dto['BALANCE'] ?: 0}"></td>
                                    <td th:text="${#strings.substring(dto['EMAIL'], 0, #strings.indexOf(dto['EMAIL'], '@') + 1) + '...'}"></td>
                                    <td th:text="${#strings.substring(dto['HP'], 0 ,3) + '...'}"></td>
                                    <td th:text="${#dates.format(dto['Date'], 'yyyy-MM-dd HH:mm:ss')}"></td>
                                    <td class="status" th:text="${dto['OPERATION']}"></td>
                                    <td>
                                        <input type="button" class="status_btn member_modify" th:data-id="${dto['CUSTID']}"  th:value="'[ 수정 ]'"><br>
                                        <input type="button" class="status_btn operation-btn"
                                           th:data-id="${dto['CUSTID']}"
                                           th:data-operation="${dto['OPERATION']}"
                                           th:value="${dto['OPERATION'] == 'ready' ? '[ 재개 ]'
                                                      : (dto['OPERATION'] == 'run' ? '[ 중지 ]'
                                                      : (dto['OPERATION'] == 'stop' ? '[ 재개 ]'
                                                      : '[비활성]'))}">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="bottom-section" style="position: relative;">
                    <ul class="pagenation">
                        <li>
                            <a th:if="${pageResponseDTO.prev}"
                               th:href="@{/admin/member/list(pg=${pageResponseDTO.start - 1})}" class="arrow">
                            <span class="prev"></span>
                            </a>
                        </li>
                        <th:block th:if="${pageResponseDTO.total > 0}" th:each="num:${#numbers.sequence(pageResponseDTO.start, pageResponseDTO.end)}">
                            <li>
                                <a th:href="@{/admin/member/list (pg=${num})}" th:class="${num == pageResponseDTO.pg ? 'active2' : 'pageNum'}">[[${num}]]</a>
                            </li>
                        </th:block>
                        <li>
                            <a th:if="${pageResponseDTO.next}"
                               th:href="@{/admin/member/list(pg=${pageResponseDTO.end + 1})}" class="arrow">
                                <span class="next"></span>
                            </a>
                            </a></li>
                    </ul>
                    <div class="btn_box">
                        <button class="shopList_Btn select_modify">선택수정</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 모달 박스 -->
        <div id="myModal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 style="font-size: 20px;">회원 수정</h3>
                    <span class="close">&times;</span>
                </div>

                <form th:action="@{/admin/member/list/modify}" method="post" id="memberForm">
                    <div class="form-body">
                        <div class="form-row">
                            <div class="form-label">아이디</div>
                            <input type="text" name="custId" class="form-input" readonly style="color:#808080;">
                        </div>
                        <div class="form-row">
                            <div class="form-label">이름</div>
                            <input type="text" name="name" class="form-input">
                        </div>
                        <div class="form-row">
                            <div class="form-label">성별</div>
                            <div class="radio_box">
                                <label><input type="radio" name="gender" value="M">남</label>
                                <label><input type="radio" name="gender" value="F">여</label>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-label">등급</div>
                            <input type="text" name="rating" class="form-input" readonly style="color:#808080;">
                            <span style="font-size:14px;margin-left: 10px;">등급 수정은 회원 목록에서 선택수정 가능</span>
                        </div>
                        <div class="form-row">
                            <div class="form-label">상태</div>
                            <span name="operation" id="operationDisplay" style="margin-left: 10px;color:#00B050;"></span>
                        </div>
                        <div class="form-row">
                            <div class="form-label">EMAIL</div>
                            <input type="text" name="email" class="form-input">
                        </div>
                        <div class="form-row">
                            <div class="form-label">휴대폰</div>
                            <input type="text" name="hp" class="form-input">
                        </div>
                        <div class="form-row">
                            <div class="form-label">우편번호</div>
                            <input type="text" name="zip" id="zip" class="form-input">
                            <button type="button" class="addr_btn" style="color:#77933C;cursor: pointer;" onclick="postcode()">검색</button>
                        </div>
                        <div class="form-row">
                            <div class="form-label">기본주소</div>
                            <input type="text" name="addr1" id="addr1" class="form-address" style="width: 335px;"><br>
                        </div>
                        <div class="form-row">
                            <div class="form-label">상세주소</div>
                            <div>
                                <input type="text" name="addr2" id="addr2" class="form-address" style="width: 335px;"><br>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-label">가입일</div>
                            <span name="date" style="margin-left: 10px;"></span>
                        </div>
                        <div class="form-row">
                            <div class="form-label">최근 로그인 날짜</div>
                            <span name="updated_at" style="margin-left: 10px;"></span>
                        </div>
                        <div class="form-row">
                            <div class="form-label other_title">기타</div>
                            <textarea name="other" id="other" placeholder="회원에 대한 기타 정보 입력"></textarea>
                        </div>
                    </div>

                    <div style="text-align: center;">
                        <input type="submit" value="수정하기" class="form_btn">
                    </div>
                </form>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-layout">
            <div class="footer-content">
                <img th:src="@{/images/admin/main/cupangMS_logo(color).png}" alt="로고">
                <div class="about-company">
                    <h2>(주)큐팡</h2>
                    <h2>대표이사 이름(db)</h2>
                    <h2>|</h2>
                    <h2>사업자등록번호</h2>
                    <h2>123-132-1231232(db)</h2>
                    <h2>|</h2>
                    <h2>통신판매업신고</h2>
                    <h2>2023-부산 해운대구-1232(db)</h2>
                    <h2>|</h2>
                    <h2>부산광역시 부산진구 중앙동(db)</h2>
                    <h2>(삼성동, green빌딩) 7층(db)</h2>
                </div>
                <div class="about-company">
                    <h2>고객센터</h2>
                    <h2>|</h2>
                    <h2>02-1234-1231</h2>
                    <h2>평일 09:00 ~ 18:00(db)</h2>

                    <h2>이메일</h2>
                    <h2>abc@cupang(db)</h2>

                    <h2>전자금융거래 분쟁담당</h2>
                    <h2>12321-12321(db)</h2>
                </div>
                <h2>Copyright@cupang.All.rights.reserved (db)</h2>
            </div>
        </div>
    </footer>
</body>
</html>