html, body {
    margin: 0;
    padding: 0;
}

/*////////////////////// header영역 //////////////////////*/
.header-layout{
    height: 104px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;

}

.header-content{
    width: 1200px;
    margin: 0 auto;
    height: 104px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header-content img{
    width: 230px;
}

.header-link{
    display: flex;
    gap: 50px;
}

.header-link a{
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 15px;
}

.header-link a.active,
.header-link a:hover{
    color: #436CFF;
    font-weight: 600;
}

/*////////////////////// footer영역 //////////////////////*/
.footer-layout{
    height: 240px;
    margin: 0 auto;
    width: 100%;
    background-color: #ECF0F2;

}


.footer-content{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    gap: 200px;
    padding-top: 12px;
}
.footer-content img{
    width: 180px;
}
.about-link p{
    margin: 0;
    color: #2260A9;
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 5px;
}

.about-link a{
    font-size: 13px;
    padding-bottom:3px;
    display: flex;
    text-decoration: none;
    color: #48535B;
    font-weight: 500;
}

.footer-content h2{
    display: inline-block;
    font-size: 12px;
    color: #48535B;
    font-weight: 400;
    margin: 0 2px;
}
.about-company a{
    color: black;
    font-size: 13px;
}

/* //////////////////// TOP 버튼 시작 //////////////////// */
.top-btn {
    position: fixed;
    bottom: 40px;

    /* 화면 가운데 기준으로 1200px 컨테이너 + 버튼 간격 계산 */
    left: calc(50% + 600px + 20px);
    /* 50% = 화면 가운데 / 600px = 컨테이너 절반 / +20px = 간격 */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--blue);
    color: #fff;
    background-color: #2454d1;
    font-size: 20px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    z-index: 999;
    transition: opacity 0.3s ease;
}

/* 뒷 배경이 흰색이라 고정
.top-btn:hover {
    background: #2454d1;
}

.top-btn.hidden {
    opacity: 0;
    pointer-events: none;
}
*/

/*////////////////////// main css //////////////////////*/
.board {
    width: 1200px;
    margin: 0 auto;

    margin-bottom: 120px;
}

/*////////////////////// index css //////////////////////*/
/*////////////////////// 메인#1 css//////////////////////*/
.landing-area {
    position: relative;
    display: flex;
    justify-content: center;
}

.landing-area img {
    width: 100%;
    height: 500px;
    display: block;
    opacity: 0;
    animation: imgAppear 1.5s ease-out forwards;
    animation-delay: 0.3s;
}

.landing-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.landing-text h1 {
    width: 1000px;
    font-size: 38px;
    opacity: 0;
    animation: focus-in-contract 2s cubic-bezier(0.25,0.46,0.45,0.94) both;
    animation-delay: 0.8s;
}

.landing-text p {
    font-size: 25px;
    opacity: 0;
    animation: focus-in-contract 2s cubic-bezier(0.25,0.46,0.45,0.94) both;
    animation-delay: 1.5s;
}

@keyframes imgAppear {
    from {
        opacity: 0;
        transform: scale(1.05);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@-webkit-keyframes focus-in-contract {
    0% {
        letter-spacing: 1em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
@keyframes focus-in-contract {
    0% {
        letter-spacing: 1em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}


.highlight {
    font-size: 2em;
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 35px;

}
.subtext {
    font-size: 1em;
    color: #555555;
}

.subtext{
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}

/*////////////////////// 메인#2 css //////////////////////*/
/* 기본 스타일 */
.slogan-slider {
    margin: 100px auto;
    position: relative;
}

.slogan-header {
    text-align: start;
    margin-bottom: 25px;
}

.slogan-header h1 {
    font-size: 30px;
    font-weight: bold;
    color: #333;
}

.slider-container {
    position: relative;
}
.slides-wrapper {
    overflow: hidden;
    display: block;
    width: 1150px;
    margin: 0 auto;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 20px;
}

.slide {
    width: 500px;
    box-sizing: border-box;
}
.slide img {
    width: 500px;
    height: 300px;
}

.slide h2 {
    font-size: 22px;
}

.slide p {
    font-size: 16px;
    line-height: 1.5;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    background:  white;
    color: #436CFF;
    border: none;
    cursor: pointer;
    z-index: 10;
    background: transparent;
}

.prev { left: -5px; }
.next { right: -5px; }

.slider-dots {
    text-align: center;
    margin-top: 10px;
}

.slider-dots .dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 6px;
    background-color: #bbb;

    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.slider-dots .dot.active {
    background-color: #436CFF;
}

/*////////////////////// 메인#3 css //////////////////////*/

.news-header h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.news-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.news-list li {
    display: block;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid #ddd;
}

.news-date {
    color: #888;
    flex-shrink: 0;
    width: 80px;
}

.news-title {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: color 0.3s;
    flex-grow: 1;
}

.news-title:hover .arrow-right,
.news-title:hover {
    color: #8E5122;
    border-right-color: #8E5122;
    border-bottom-color: #8E5122;
    font-weight: 600;
}

.arrow-right{
    width: 0.6rem;
    height: 0.6rem;
    border: 2px solid transparent;
    border-right-color: black;
    border-bottom-color: black;
    transform: rotate(-45deg);
    margin-left: 10px;
    flex-shrink: 0;
}


/*////////////////////// 메인#4 css //////////////////////*/
.timeline-section {
    margin: 100px auto;
}

.timeline-section h1 {
    color: #333;
    text-align: start;
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 700;
}

.timeline {
    position: relative;
    border-left: 3px solid black;
}

.timeline-item {
    position: relative;
    margin-bottom: 40px;
}

.timeline-year-row {
    display: flex;
    align-items: center;
}

.timeline-marker {
    width: 15px;
    height: 15px;
    background: #333;
    border-radius: 50%;
    margin-right: 20px;
    margin-left: -8.5px;
    flex-shrink: 0;
    box-shadow: 0 0 0 2px rgba(33, 45, 59, 0.2);
}

.timeline-year {
    font-size: 24px;
    font-weight: 700;
    color: #333;
    transition: transform 0.3s ease, color 0.3s ease;
}

.timeline-item ul {
    list-style: none;
    margin: 0;
    margin-left: 40px;
    padding: 0;
}

.timeline-item ul li {
    display: flex;
    gap: 10px;
    margin: 6px 0;
    align-items: flex-start;
}

.timeline-item ul li .month {
    flex: 0 0 50px;
    text-align: center;
    font-weight: 500;
    color: #666;
}

.timeline-item ul li .evt {
    flex: 1;
    font-size: 16px;
    color: #333;
    word-break: keep-all;
    transition: transform 0.2s ease;
}


/*/////////////타임 라인 hover 효과////////////////*/
.timeline-item .timeline-year-row:hover .timeline-year ,
.timeline-item:hover .timeline-year {
    transform: scale(1.1);
}

.timeline-item:hover .timeline-marker {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(33, 45, 59, 0.2);
}

.timeline-item ul li:hover .evt {
    transform: translateX(5px);
}

.timeline-item .timeline-year-row:hover ~ ul li .evt {
    transform: translateX(5px);
    transition: transform 0.2s ease;
}


/*/////////////기업문화 css////////////////*/
.landing-text-c {
    position: absolute;
    bottom: 40px;
    left: 40px;
    color: white;
    max-width: 700px;
    font-family: 'Pretendard', sans-serif;
}

.landing-text-c h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 10px;
    animation: focus-in-expand 3s ease forwards;
}

.landing-text-c p {
    font-size: 1.2rem;
    line-height: 1.6;
    opacity: 0.9;
    animation: focus-in-expand 3.5s ease forwards;
    animation-delay: 0.5s;
}

@-webkit-keyframes focus-in-expand {
    0% {
        letter-spacing: -0.5em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
@keyframes focus-in-expand {
    0% {
        letter-spacing: -0.5em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

/*/////////////소식과 이야기 css////////////////*/
.slogan-header p {
    font-size: 18px;
    color: #666;
}

.blog-cateLink button{
    border: none;
    outline: none;
    background-color: inherit ;
    cursor: pointer;

    font-size: 15px;
}

.blog-cateLink button.active {
    color: #8FCC17;
    font-weight: bold;
}

.blog-item {
    display: flex;
    flex-wrap: wrap;
    gap: 74px;
    justify-content: start;
    margin-top: 20px;
}

.blog-post {
    display: none;
    width: 350px;
}

.blog-post.show {
    display: block;
}

.blog-card {
    border: 1px solid #e0e0e0;
    overflow: hidden;
    background-color: #fff;
}
.blog-card a{
    text-decoration: none;
}
.blog-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}
.blog-card:hover{
    background-color: #dcdcdc;
}

.card-content {
    padding: 15px;
}

.card-content h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
}

.card-content p {
    font-size: 0.95rem;
    color: #666;
    margin-bottom: 10px;
}

.blog-detail {
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.6;
    display: block;
    justify-items: center;
}
.blog-detail img{
    display: flex;
}

.blog-detail h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.blog-detail .meta {
    color: #666;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.blog-detail .content p {
    margin: 0;
    margin-bottom: 5px;

}

.detail-area a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color: #666;
    font-weight: 500;
}



/*/////////////채용 css////////////////*/
.recruit-table {
    border-collapse: collapse;
    width: 1150px;
    margin-top: 40px;
    margin-left: 20px;
    font-size: 14px;
}
.recruit-table th{
    padding: 15px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #f0f0f0;
}
.recruit-table td {
    padding: 15px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
.clickable-row {
    cursor: pointer;
}

.clickable-row:hover td  {
    text-decoration: underline;
}
.col-num { width: 50px; }
.col-dept { width: 120px; }
.col-career { width: 100px; }
.col-type { width: 100px; }
.col-title { width: 250px; }
.col-status { width: 80px; }
.col-period { width: 200px; }

.status-open {
    color: #8FCC17;
    font-weight: bold;
}

.status-closed {
    color: gray;
}

.info{
    display: flex;
    justify-content: space-between;
    align-content: end;
}
.info span{
    font-size: 17px;
}

.content{
    font-size: 20px;
}

hr {
    margin: 20px 0;
}

.recruit-detail{
    margin-bottom: 50px;
}
/* ===== 페이지네이션 ===== */
.page{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top: 30px;
    gap:24px;
}

.page > .prev,
.page > .pagenumber,
.page > .last{
    display:flex;
    align-items:center;
    gap:4px;
}


.page .pagenumber a{
    display:inline-flex;
    justify-content:center;
    align-items:center;
    width:32px;
    height:29px;
    color:#666;
    text-decoration:none;
    box-sizing:border-box;
    line-height:1;
    font-weight: 350;
    font-size: 15px;
}


.page .pagenumber a.active{
    color:#436CFF;
}

.page .prev a,
.page .last a{
    display:inline-flex;
    justify-content:center;
    align-items:center;
    width:32px;
    height:32px;
}

.page svg{
    width: 24px;
    height: 24px;
    color: #666;
    fill: none;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;

}

.disabled {
    opacity: 0;
    pointer-events: none;   /* 클릭 금지 */
    cursor: default;
}

/*/////////////미디어 css////////////////*/
.media-item {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    margin-bottom: 50px;
    margin-top: 15px;
}
.media-item iframe{
    width: 350px;
    height: 200px;
}
.media-info {
    max-width: 700px;
}

.media-info h2 {
    margin: 0 0 10px 0;
    font-size: 1.5rem;
}

.media-info p {
    margin: 0;
    color: #555;
}