<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>주문상세</title>
</head>
<body>
    <div th:fragment="modal">
        <div class="modal fade modal-top" id="orderModal" tabindex="-1" aria-labelledby="orderModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="orderModalLabel">주문상세</h5>
                        <p class="modal-sm-title">20xx-12-13</p>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫기"></button>
                    </div>
                    <div class="modal-body" id="orderModalBody">

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>