<!-- TOP 버튼 -->
<button id="topBtn" class="top-btn" aria-label="맨 위로 이동">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
         class="lucide lucide-chevrons-up-icon lucide-chevrons-up">
        <path d="m17 11-5-5-5 5"/>
        <path d="m17 18-5-5-5 5"/>
    </svg>
</button>
<footer>
    <div class="footer-layout">
        <div class="footer-content">
            <img th:src="@{'/uploads/logo/' + ${basicData.footer_logo_intro}}" alt="로고">
            <div class="about-link">
                <p>큐팡 회사소개</p>
                <a th:href="@{index}">HOME</a>
                <a th:href="@{culture}">기업문화</a>
                <a th:href="@{story}">소식과 이야기</a>
                <a th:href="@{recruit}">채용</a>
                <a th:href="@{media}">미디어</a>
            </div>
            <div class="about-link">
                <p>큐팡 사이트</p>
                <a th:href="@{/}">큐팡</a>
            </div>
        </div>
        <div class="footer-content">
            <div class="about-company">
                <h2 th:inline="text">[[${basicData.trade_name}]] 대표자: [[${basicData.ceo}]] | 사업자 등록번호: [[${basicData.business_num}]] | [[${basicData.addr1}]] [[${basicData.addr2}]]</h2>
                <h2 th:inline="text">고객센터 | [[${basicData.hp}]] [[${basicData.work_time}]] 이메일: [[${basicData.email}]] 전자금융거래 분쟁담당: [[${basicData.transaction}]]</h2>
                <div>
                    <h2 th:inline="text">[[${basicData.copyright}]]</h2>
                    <a href="https://privacy.coupang.com/ko/land/aboutcoupang/">개인정보 처리방침</a>
                </div>

                <h2 th:inline="text">ver.[[${appInfo.appVersion}]]</h2>

            </div>
        </div>

    </div>

</footer>
</body>
</html>