<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회사소개(채용)</title>
    <link rel="stylesheet" href="/company/Company.css">
    <script src="/company/js/top-btn.js" defer></script>
</head>
<body>
    <header>
        <div class="header-layout">
             <div class="header-content">
                <a href="/company/index.html">
                    <img src="/company/images/cupang_logo(color).png" alt="로고">
                </a>
        
                <div class="header-link">
                    <a href="/company/index.html">HOME</a>
                    <a href="/company/culture.html">기업문화</a>
                    <a href="/company/story.html">소식과 이야기</a>
                    <a href="/company/recruit.html"  class="active">채용</a>
                    <a href="/company/media.html">미디어</a>
                </div>
            </div>
        </div>
       
    </header>

    <main>

        <a href="#" class="scroll-down">
            <div class="scroll">
                <span class="scroll-dot"></span>
            </div>
            <div class="arrow-down"></div>
        </a>

        <div class="board">
            
            <div class="highlight">
                큐팡과 함께 성장할 당신을 기다립니다.
            </div>

            <div class="subtext">
                <p>큐팡과 함께 혁신적인 아이디어를 실현하며 성장할 당신을 기다립니다.</p>
                <p>열린 소통과 협력을 통해 다양한 도전을 경험하고, 역량을 마음껏 발휘하세요.</p>
                <p>즐거움과 배움이 공존하는 환경에서, 함께 더 나은 내일을 만들어갑니다.</p>
            </div>

            <table class="recruit-table">                        
                <tr>
                    <th class="col-num">번호</th>
                    <th class="col-dept">채용부서</th>
                    <th class="col-career">경력사항</th>
                    <th class="col-type">채용형태</th>
                    <th class="col-title">제목</th>
                    <th class="col-status">상태</th>
                    <th class="col-period">모집기간</th>
                </tr>    
                <tr>
                    <td class="col-num">1</td>
                    <td class="col-dept">경영</td>
                    <td class="col-career">신입</td>
                    <td class="col-type">계약직</td>
                    <td class="col-title">경영지원 직원 채용공고</td>
                    <td class="col-status status-open">모집중</td>
                    <td class="col-period">0000-00-00 ~ 0000-00-00</td>
                </tr>
                 <tr>
                    <td class="col-num">1</td>
                    <td class="col-dept">경영</td>
                    <td class="col-career">신입</td>
                    <td class="col-type">계약직</td>
                    <td class="col-title">경영지원 직원 채용공고</td>
                    <td class="col-status status-closed">종료</td>
                    <td class="col-period">0000-00-00 ~ 0000-00-00</td>
                </tr>
            </table>

            <div class="page">
                <div class="prev">
                    <a href="#" class="paging">
                        <img src="/company/images/btn-first-page.png">
                    </a>
                    <a href="#" class="paging">
                        <img src="/company/images/btn-prev-page.png">
                    </a>
                </div>
                <div class="pagenumber">
                    <a href="#" class="active">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                </div>
                <div class="last">
                    <a href="#" class="paging">
                        <img src="/company/images/btn-next-page.png">
                    </a>
                    <a href="#" class="paging">
                        <img src="/company/images/btn-last-page.png">
                    </a>
                </div>
            </div>

        </div>


    </main>

        <!-- TOP 버튼 -->
        <button id="topBtn" class="top-btn" aria-label="맨 위로 이동">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="lucide lucide-chevrons-up-icon lucide-chevrons-up">
                <path d="m17 11-5-5-5 5"/>
                <path d="m17 18-5-5-5 5"/>
            </svg>
        </button>
    <footer>
        <div class="footer-layout">
            <div class="footer-content">
                <img src="/company/images/cupang_logo(color).png" alt="로고">
                <div class="about-link">
                    <p>큐팡 회사소개</p>
                    <a href="/company/index.html">HOME</a>
                    <a href="/company/culture.html">기업문화</a>
                    <a href="/company/story.html">소식과 이야기</a>
                    <a href="/company/recruit.html">채용</a>
                    <a href="/company/media.html">미디어</a>
                </div>
                <div class="about-link">
                    <p>큐팡 사이트</p>
                    <a href="#">큐팡</a>
                </div>
            </div>
            <div class="footer-content">
                <div class="about-company">
                    <h2>(주)큐팡 대표자: 김철학 | 사업자 등록번호: 202-50-70702 | 부산광역시 해운대구 달맞이길 30 시그니엘 부산</h2>
                    <a href="https://privacy.coupang.com/ko/land/aboutcoupang/">개인정보 처리방침</a>
                </div>
            </div>

        </div>

    </footer>
</body>
</html>