<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mypage Main</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
    <main>
        <div class="content-wraper">
            <div class="top-info">
                <div class="info-title">
                    <span>나의쇼핑정보</span>
                </div>
                <div class="status">
                    <table>
                        <tr>
                            <th>주문</th>
                            <th>쿠폰</th>
                            <th>포인트</th>
                            <th>문의</th>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>1</td>
                            <td>1,000</td>
                            <td>1</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="main-container">
                <div class="side-menu">
                    <div class="menu-list">
                        <ul>
                            <li>전체주문내역</li>
                            <li>포인트내역</li>
                            <li>쿠폰</li>
                            <li>나의리뷰</li>
                            <li>문의하기</li>
                            <li>나의설정</li>
                        </ul>
                    </div>
                </div>
                <div class="main-content">
                    <div class="banner-ad">
                        <img src="#" alt="광고사진">
                    </div>
                    <div class="coupon">

                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>