/* 기본 리셋 및 폰트 */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* 헤더 */
.header-layout{
    height: 60px;
    width: 100%;
    background-color: #325a83;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.header-content{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content img{
    width: 200px;
}

.header-link {
    display: flex;
    gap: 25px;
    align-items: center;
}

.header-link p {
    margin: 0;
}

.header-link a, .header-link button {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 10px;
}

.header-link button {
    border: none;
    outline: none;
    background-color: #91a9ce;
    padding: 5px 15px;
    cursor: pointer;
}

/* 메인 + 사이드바 영역 */
.container {
    display: flex;
    min-height: 80vh;
    margin: 0 auto;
    max-width: 1200px;
}

/* 사이드바 */
.sidebar {
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: #e0e0e0;
}

.side-item {
    border-bottom: 1px solid #ccc;
}

.main-menu {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.main-menu p {
    margin: 0;
    font-size: 15px;
    color: black;
}

.sub-menu {
    display: none;
    flex-direction: column;
    gap: 6px;
}

.sub-menu.active {
    display: flex;
}

.sub-menu a {
    color: black;
    font-size: 14px;
    text-decoration: none;
}
.main-menu svg{
    width: 17px;
    height: 17px;
    margin-right: 10px;
}

/* 메인 콘텐츠 */
.content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    overflow: auto;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
}

.header-top h1 {
    font-size: 20px;
    margin: 0;
}

.breadcrumb {
    font-size: 14px;
}

.breadcrumb a {
    text-decoration: none;
    color: #007bff;
}

.breadcrumb span {
    color: #555;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.search-bar {
    margin-bottom: 10px;
}

.search-bar select,
.search-bar input {
    margin-right: 5px;
    outline: none;
    padding: 5px;
}

#category1, #category2 {
    border:1px solid #ccc;
    border-radius: 5px;
    width: 130px;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f0f0f0;
}

.bottom-bar {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination {
    display: flex;
    gap: 5px;
    margin: 0 auto;
}

.btn {
    padding: 6px 12px;
    background-color: #3693c2;
    color: white;
    border: none;
    cursor: pointer;
}

.btn2 {
    padding: 6px 12px;
    background-color: #bfbfbf;
    color: white;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #2980b9;
}

.completed {
    color: #007bff;
    font-weight: bold;
}

/* 푸터 */
.footer-layout{
    height: 110px;
    width: 100%;
    background-color: #325a83;
    flex-shrink: 0; /* 푸터가 줄어들지 않게 고정 */
}

.footer-content{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    text-align: center;
    gap: 2px;
}

.footer-content img{
    width: 150px;
    display: block;
    margin: 0 auto;
}

.about-company{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-content h2{
    font-size: 12px;
    color: #fff;
    font-weight: 400;
    margin: 0 2px;
}

.footer-content a{
    color: white;
    font-size: 13px;
}

tr td a {
    color:black;
    text-decoration: none;
}

.arrow {
    width: 20px;
    height: 20px;
    text-align: center;
}
.pageNum {
    color: #888888;
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
    text-decoration: none;
}
.active2 {
    color:#436CFF;
    display: block;
    font-weight: bold;
    width: 20px;
    height: 20px;
    text-align: center;
    text-decoration: none;
}

.prev {
    background-image: url('/kmarket/images/cs/btn-prev-page.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    height: 10px;
    width: 10px;
}
.next {
    background-image: url('/kmarket/images/cs/btn-next-page.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    height: 10px;
    width: 10px;
}