<div th:replace="~{company/_head.html}"></div>
<main>

    <a href="#" class="scroll-down">
        <div class="scroll">
            <span class="scroll-dot"></span>
        </div>
        <div class="arrow-down"></div>
    </a>

    <div class="board">
        <div class="detail-area">
                <table class="hire-detail-table">
                    <tr>
                        <th colspan="4">[[${hire.title}]]</th>
                    </tr>
                    <tr>
                        <th>부서</th>
                        <td>[[${hire.department}]]</td>
                        <th>작성자</th>
                        <td>[[${hire.author}]]</td>
                    </tr>
                    <tr>
                        <th>경력</th>
                        <td>[[${hire.experience}]]</td>
                        <th>작성일</th>
                        <td>[[${hire.create_date}]]</td>
                    </tr>

                    <tr>
                        <th>형태</th>
                        <td colspan="3">[[${hire.hire_type}]]</td>
                    </tr>
                    <tr>
                        <th>모집기간</th>
                        <td colspan="3">[[${hire.recruit_period_start}]] ~ [[${hire.recruit_period_end}]]</td>
                    </tr>
                    <tr>
                        <th>내용</th>
                        <td colspan="3"><div class="content-cell">[[${hire.content}]]</div></td>
                    </tr>
                </table>

            <a th:href="@{/company/recruit}">목록으로 돌아가기</a>
        </div>

    </div>
</main>

<div th:replace="~{company/_tail.html}"></div>